<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}TaskFony{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet"  href="{{ asset('css/app.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 srt">
            <div class="header">
                {% if is_granted('ROLE_USER') %}
                    Welcome
                    {{ app.user.username }}
                {% endif %}
            </div>
            <div class="sidebar">
                <nav>
                    <h1 class="">Taskfony</h1>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('fos_user_security_logout') }}"
                           class="nav-link active" >Logout</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"
                           class="nav-link" >Login</a>
                        <a href="{{ path('fos_user_registration_register') }}"
                           class="nav-link" >Sign up</a>
                    {% endif %}
                </nav>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="page">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <div class="mastfoot">
            <div class="inner">
                <p> Made with <i class="fa fa-heart heart"></i> by: <a href="#">@ngie-mp</a></p>
            </div>
        </div>
    </div>
{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock %}
</body>
</html>