{% trans_default_domain 'FOSUserBundle' %}
<h1>Register to TaskFony!</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <button class="btn btn-primary" href="{{ path('todo_list') }}" type="submit">{{ 'registration.submit'|trans }}</button>
</div>
{{ form_end(form) }}

